.body {
	background-color: grey;
	height: 100%;
}
.key {
	display: inline-block;
	border: 3px solid maroon;
	text-align: center;
	position: relative;
	top: 50%;
	background: rgba(0, 0, 0, 0.4);
	color: wheat;
	width: 50;
	height: 50px;
	margin-left: 50%;
	line-height: 50px;
	transition: 0.07s;
}

.playing {
	transform: scale(1.1);
	border-color: yellow;
}
