.body {
	background-color: lightblue;
}

:root {
	/* declaring css variables */
	--base: #df9d9d;
	--spacing: 20px;
	--blur: 10px;
}
/* using the CSS variables */
.img {
	padding: var(--spacing);
	background: var(--base);
	filter: blur(var(--blur));
}
.h2 {
	color: var(--base);
}
